<h1>Welcome <%= @found_user.username %>!</h1>
<h1>Your Itineraries:</h1>

<ul>
  <% @itineraries.each do |trip| %>
  <li><%= link_to trip.name, itinerary_path(star) %></li>
  <% end %>
</ul>

<%= link_to "Add new trip.", new_itinerary_path %>





<%= link_to "Log Out", logout_path, :method => :delete %>